.container-main{ 
  width: 80vh;
  margin: 250px auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid aqua;
}
h1 {
  font-weight: 700px;
  color: aqua;
  text-align: center;

}

h1:hover{
  color: rgba(0,0,0,0.5);

}
