.search-input{
 padding: 32px;
 display: flex;
 align-items: center;
}
input{
width: 350px;
height: 25px;
border-color: aqua;
}
.styled-buttom-add{
  width: 62px;
 
  font-size: 18px;
  color: white;
  background-color: aqua;
}

.styled-buttom-add:hover {
  cursor: pointer;
  background-color: white;
  color:black;
}