.search-input{
 padding: 32px;

}
input{
width: 250px;
height: 25px;
border-color: aqua;

}
.styled-buttom-add{
  width: 72px;
  padding: 5px;
  margin-left:15px;
  color: white;
  border-radius: 25px;
  background-color: aqua;
}

.styled-buttom-add:hover {
  cursor: pointer;
  background-color: white;
  color:black;
}