.styled-buttom-create{
  width: 70px;
  padding: 5px;
  color: white;
  border-radius: 25px;
  background-color: aqua;
}

.styled-buttom-create:hover {
  cursor: pointer;
  background-color: white;
  color:black;
}